@import 'base';

/**
 * Prevent iOS text size adjust after orientation change, without disabling
 * user zoom.
 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }
  
body {
	background-color: #fff;
	color: #919090;
	font-family: "BrandonGrotesqueWeb-Regular", Arial, sans-serif;
	font-size: 20px;
	line-height: 37px;
	margin: 0;
	padding: 0;
	/*text size adjust*/
   -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

div {
	/*outline: 1px solid #f00;*/
}

h1 {
	font-family: 'TradeGothicLTPro-BdCn20', Arial, sans-serif;
	font-size: 36px;
	text-transform: uppercase;
}

img {
  border: 0;
  outline: none;
}

* {
  box-sizing: border-box;
  margin-top: 0;  
}

/*MAIN STYLES*/
.outer-container {
	display: block;
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 1736px;
}

.container {
	display: block;
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 1468px;
}



.main-image {
	background: url('../img/2000px-Star_Wars_Logo.png') no repeat;
	background-size: cover;
	height: auto;
	width: 100%;
}
